version: "3.9"
services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.app
    env_file: [.env]
    ports:
      - "${PORT:-8004}:8004"
    command: uvicorn app.main:api --host 0.0.0.0 --port 8004